  <li><a href="index.html">Introduction</a></li>
  <li><a href="launching-a-spark-shark-cluster-on-ec2.html">Launching a Spark/Shark Cluster on EC2</a></li>
  <li><a href="logging-into-the-cluster.html">Logging into the Cluster</a></li>
  <li><a href="overview-of-the-exercises.html">Overview Of The Exercises</a></li>
  <li><a href="introduction-to-the-scala-shell.html">Introduction to the Scala Shell</a></li>
  <li><a href="data-exploration-using-spark.html">Data Exploration Using Spark</a></li>
  <li><a href="data-exploration-using-shark.html">Data Exploration Using Shark</a></li>
  <li><a href="processing-live-data-streams-with-spark-streaming.html">Processing Live Data Streams with Spark Streaming</a></li>
  <li><a href="machine-learning-with-spark.html">Machine Learning With Spark</a></li>
  <li style="padding-left:15px;"><a href="featurization.html">Command Line Preprocessing and Featurization (OPTIONAL)</a></li>
  <li><a href="where-to-go-from-here---more-resources-and-further-reading.html">Where to Go From Here - More Resources and Further Reading</a></li>
