{% for p in site.navigation %}
  {% if found_page %}
    {% assign next_page = p.url %}
    {% assign found_page = false %}
  {% else %}
    {% if p.url == page.url %}
      {% assign found_page = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if page.next %}
  {% assign next_page = page.next %}
{% endif %}

{% if next_page %}
<a class="btn page-nav" style="float:right" href="{{next_page | remove_first:'/'}}">
{% else %}
<a class="btn page-nav" disabled="disable" style="float:right" href="#">
{% endif %}
  <i class="icon-arrow-right icon-2x"></i>
</a>
